In [1]:
import pandas as pd
import requests
from lxml import etree
import json

In [2]:
df_path = r"C:\Users\Olive\python_projects\FinRL-Meta\FinGPT-ChatGLM-Fineturning_old\Chinese_News\scrape\results\000001.csv"
df = pd.read_csv(df_path)
df.shape

(4054, 6)

In [3]:
df.head(2)

,read amount,comments,title,content link,author,create time
0,496,0,平安银行：融资净买入3199.17万元，融资余额39.29亿元,"/news,000001,1294939786.html",平安银行资讯,04-07 08:46
1,5448,20,平安银行今日大宗交易折价成交198万股 成交额2257.2万,"/news,000001,1294874925.html",平安银行资讯,04-06 21:54

In [4]:
link_base = "https://guba.eastmoney.com"
url = link_base + df.head(1)["content link"][0]
url

'https://guba.eastmoney.com/news,000001,1294939786.html'

In [5]:
headers = {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:109.0) Gecko/20100101 Firefox/112.0",
        "Referer": "https://guba.eastmoney.com/",
}

In [6]:
response = requests.get(url = url, headers = headers,)
response.status_code

200

In [7]:
res = etree.HTML(response.text)
res = res.xpath("//script[2]//text()")[0]
res = json.loads(res[17:])
res = pd.Series(res).to_frame().T
res

,post_id,post_user,post_guba,post_title,post_content,post_abstract,post_publish_time,post_last_time,post_display_time,post_ip,...,post_add_time,post_modules,post_speccolumn,post_ip_address,source_post_ip_address,post_mod_time,post_mod_count,allow_likes_state,system_comment_authority,limit_reply_user_auth
0,1294939786,"{'user_id': '6385113638007064', 'user_nickname...","{'stockbar_type': 2, 'stockbar_code': '000001'...",平安银行：融资净买入3199.17万元，融资余额39.29亿元（04-06）,"<div data-type=""abstract"" data-abstract=""2023年...",2023年4月6日平安银行融资净买入3199.17万元，融资余额39.29亿元,2023-04-07 08:46:55,2023-04-07 08:46:55,2023-04-07 08:46:55,,...,None,[],None,,,None,0,0,0,0